@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Arial, sans-serif;
    @apply bg-background text-base-text;
    overscroll-behavior: none;
  }
}

@keyframes fadeOut {
  0%, 80% { opacity: 1; }
  100% { opacity: 0; visibility: hidden; }
}

@keyframes revealFromLeft {
  0% { 
    transform: translateX(0);
  }
  100% { 
    transform: translateX(100%);
  }
}
